Django==4.2.8
djangorestframework==3.14.0
djangorestframework-simplejwt==5.5.1
django-filter==23.5
drf-spectacular==0.26.5
python-decouple==3.8
psycopg2-binary>=2.9.10
Pillow>=10.0.0
celery==5.3.4
redis==5.0.1
django-redis==5.4.0
django-extensions==3.2.3
drf-nested-routers==0.93.4
channels==4.0.0
channels-redis==4.1.0
python-dateutil==2.8.2
requests==2.31.0
gunicorn==21.2.0
whitenoise==6.6.0
django-cors-headers==4.3.1

# Development
pytest==7.4.3
pytest-django==4.7.0
pytest-cov==4.1.0
black==23.12.1
flake8==6.1.0
isort==5.13.2

# Optional: For better admin interface
django-admin-interface==0.25.0
django-import-export==3.3.3

# Optional: For API versioning
djangorestframework-api-key>=2.0.0
# Optional: For Async tasks
django-celery-beat>=2.5.0
langchain-openai


# AI / LangChain
langchain
langchain-openai
langchain-community
langchain-core
langchain-huggingface
langgraph

# HuggingFace
transformers
huggingface_hub

# ML
pandas
scikit-learn
joblib

# Vector DB
faiss-cpu
pypdf
torch
sentence-transformers
python-dotenv
